@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-green-200;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
